DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DB_NAME"														
PORT=3000
# Use new BETTER_AUTH_SECRET using https://better-auth-secret.com/
BETTER_AUTH_SECRET=8d3b63361edcf4e0625c998a9aa1f3c17239a99a174f138de5e2658684bb4056
BETTER_AUTH_URL="http://localhost:3000"